@page "/tasks"
@inject IRepository repository

<h3>Tasks</h3>
@if (Tasks == null)
{
    <p>Cargando...</p>
}
else
{
    <a href="/tasks/create" class="btn btn-primary">New Task</a>
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Is Completed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Tasks)
            {
                <tr>
                    <td>@task.Description</td>
                    <td>@($"{task.Date:yyyy/MM/dd}")</td>
                    <td>@task.IsCompleted</td>
                    <td>
                        <a href="/tasks/edit/@task.Id" class="btn btn-warning">Edit</a>
                        <button class="btn btn-info">Complete</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    public List<MyTask>? Tasks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await repository.GetAsync<List<MyTask>>("api/MyTasks");
        if (response.IsSuccess)
        {
            Tasks = response.Result;
        }
    }
}
