<EditForm Model="MyTask" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label>Description:</label>
        <div>
            <InputText class="form-control" @bind-Value="@MyTask.Description"/>
            <ValidationMessage For="@(() => MyTask.Description)"/>
        </div>
    </div>
    <div class="mb-3">
        <label>Date:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@MyTask.Date" />
            <ValidationMessage For="@(() => MyTask.Date)" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
    <button class="btn btn-success" @onclick="ReturnAction">Return</button>
</EditForm>

@code {
    [EditorRequired]
    [Parameter]
    public MyTask MyTask { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }
}
